Repository retr0h/inotify-info-rs, changes with the labels that .github/labeler.yml gives for each.
All labels: test/integration, kind/rust, kind/yaml, kind/docs, github/action

.github/labeler.yml:

---
test/integration:
  - changed-files:
    - any-glob-to-any-file: "tests/*"
    - any-glob-to-any-file: "tests/*/**"

kind/rust:
  - changed-files:
    - any-glob-to-any-file: "**/*.rs"

kind/yaml:
  - changed-files:
    - any-glob-to-any-file: "**/*.yaml"
    - any-glob-to-any-file: "**/*.yml"

kind/docs:
  - changed-files:
    - any-glob-to-any-file: "docs/*"
    - any-glob-to-any-file: "docs/*/**"

github/action:
  - changed-files:
    - any-glob-to-any-file: ".github/**/*.yml"

next:
    - base-branch: 'main'

print inotify limits
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/main.rs
Labels: kind/rust

only run on linux
  src/linux.rs
  src/linux_not.rs
  src/main.rs
Labels: kind/rust

added print separator
  src/linux.rs
  src/main.rs
Labels: kind/rust

rework only run on linux
  src/linux.rs
  src/linux/cli.rs
  src/linux_not.rs
  src/main.rs
Labels: kind/rust

added basic tests for get_inotify_procfs_value
  Cargo.lock
  Cargo.toml
  src/linux.rs
Labels: kind/rust

added crates badge
  README.md
Labels: none

Many changes with breaking changes
  .github/workflows/rust.yml
  Cargo.toml
  Makefile.toml
  README.md
  Taskfile.yml
  src/bin/inotify-info.rs
  src/lib.rs
  src/linux/cli.rs
  src/linux_not.rs
  src/main.rs
Labels: kind/rust, kind/yaml, github/action
